.main{
    height: 300px;
    width: 400;
    background-color: purple;
    border-radius: 8px;
    position:absolute;
}
.left{
    height: 150px;
    width: 80px;
    background-color: orangered;
    border-radius: 10px;
    border: 2px dashed white;
    text-align: center;
    text-transform: uppercase;
    line-height: 150px;
    color: azure;
    position:absolute;
    left: 20px;
    z-index: 1;
}
.right{
    height: 100px;
    width: 80px;
    text-align: center;
    text-transform: uppercase;
    line-height: 100px;
    color: azure;
    background-color: rgb(13, 255, 0);
    border-radius: 10px;
    border: 2px solid rgb(240, 31, 31);
    position: absolute;
    right: 10px;
    bottom: 203px;
    z-index: 3;
}
.bottom{
    height: 80px;
    width: 300px;
    color: antiquewhite;
    background-color: rgb(21, 19, 18);
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    line-height: 80px;
    border: 2px dashed rgb(25, 107, 124);
    position: absolute;
    right: 40px;
    top: 80px;
    z-index: 2;
}
h1{
    text-align: center;
}